<!doctype html>

<html lang="en">
	<head> <title>Zachary LaVallee - Portfolio </title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='portfolio.css') }}">
		<link rel="icon" type="image/png" sizes="96x96" href="static/favicon.ico">
	</head>

	<body>
		<!-- Page Container -->
		<div class="container">
	
			<header>
				<div class="logobox">
					<img src="{{url_for('static', filename='headshot.png')}}" alt="Zach LaVallee Headshot" class="logo">
				</div>
				<div class="name">
					<h1>Zachary LaVallee</h1>
					<h2><a href="{{url_for('static', filename='resume.pdf')}}" target="_blank">Resume</a> | <a href="https://github.com/zlav" target="_blank">GitHub</a> | <a href="https://www.linkedin.com/in/zach-lavallee-82832158" target="_blank">LinkedIn</a> </h2>
				</div>
			</header>
			<hr>
			

			
			<!-- Middle Background -->
			<div class="photo">
				<img src="{{url_for('static', filename='STL-Skyline-HD-narrow.jpg')}}" alt="Keyboard Background" class="bgimg">
			</div>

			<!-- Featured Work -->
			<div id="featwork">
				<!-- <p>Featured Work</p> -->
				<br>
			</div>

			<!-- Project Section -->
			<section class="projects">
				<figure class="projectbox">
					<a href="https://www.emonix.io" target="_blank">
					<div class="projectimg">
						<img src="{{url_for('static', filename='emonixsystem.png')}}" alt="Image of Emonix Water Softening System">	
					</div>
						<img src="{{url_for('static', filename='emonix.png')}}" alt="Emonix Inc. Logo Link" class="projectlogo">
					</a>
					<a href="https://login.emonix.io" target="_blank">
						<h5> Email: DataDemo 
						<br> Password: demo </h5>
					</a>
				</figure>
				<figure class="projectbox">
					<a href="{{url_for('showCatalog')}}" class="link">
						<div class="projectimg">
							<img src="{{url_for('static', filename='Catalog.png')}}" alt="Catalog Image">
						</div>
						<h3>
							Shopping Catalog
						</h3>
					</a>
				</figure>
				<figure class="projectbox">
					<a href="http://www.map.zachlavallee.com" class="link">
						<div class="projectimg">
							<img src="{{url_for('static', filename='map.png')}}" alt="Map of Chicago">
						</div>
						<h3>
							Favorite Places
						</h3>
					</a>
				</figure>
			</section>
		</div>
	</body>
</html>

